@import 'bootstrap';

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('montserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: 'MontserratHairline';
  src: url('montserrat/Montserrat-Hairline.otf');
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat';
}

h3 {
  font-family: 'MontserratLight';
  font-size: 1.7rem;
}

main {
  flex: 1;
}

p {
  font-family: 'MontserratHairline';
}

.hairline-font {
  font-family: 'MontserratHairline';
}

@media (max-width: 900px) {
    .hide-on-small {
      display: none;
    }
  }
